.hints-before{
    background-color: rgb(112, 112, 112);
    color: black;
    opacity: 0.8;
    font-size: 12pt;
    font-family: monospace;
  font-style:italic;
  line-height: 12pt;
  position: absolute;
  padding: 2px;
}

.hints-after{
    background-color:black;
    font: bold;
    color: white;
    position: absolute;
    opacity: 0.8;
    font-size: 12pt;
    font-family: monospace;
  font-style:italic;
  line-height: 12pt;
  padding: 2px;
}