.hintsEdge {
    font-weight: 600;
    background-color: #eeeeee;
    color: black;
    font-size: 10pt;
    border-radius: 5px;
    border: 1px solid #333333;
    box-shadow: 2px 2px 2px #222222;
    line-height: 11pt;
    z-index: 2147483646 !important;
    position: absolute;
    padding: 2px;
    transform: translate(-3px, -6px) rotate(5deg);
}

@keyframes action_scale {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 0.9;
    }
}

.notChoose {
    background-color: #eeeeee;
    color: black;
    font-size: 12pt;
    transform: translate(-3px, -6px) rotate(5deg);
    font-family: monospace;
    line-height: 12pt;
    position: absolute;
    padding: 2px;
}

.chosen {
    background-color: black;
    font: bold;
    color: white;
}

#hintContainer {
    opacity: 0.8;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10000 !important;
}

.hind {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    -moz-opacity: 0.8;
    opacity: 0.8;
    z-index: 1001;
    filter: alpha(opacity=40);
}

#modePop {
    font-size: 8pt;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px
}

#subModePop {
    font-weight: bold;
    font-size: 6pt;
    padding-left: 5px;
    padding-right: 5px
}

#mode {
    animation: action_scale 0.4s;
    -webkit-animation: action_scale 0.4s;
    text-align: center;
    opacity: 0.9;
    border-radius: 10px;
    background-color: #c0c0c0;
    position: fixed;
    bottom: 5px;
    right: 5px;
    box-shadow: 1px 1px 5px #333333;
}