.hints-before {
    font-weight: 600;
    background-color: #eeeeee;
    color: black;
    opacity: 0.9;
    font-size: 10pt;
    border-radius: 5px;
    border: 1px solid #333333;
    box-shadow: 2px 2px 2px #222222;
    line-height: 11pt;
    z-index: 2140000;
    position: absolute;
    padding: 2px;
    transform: translate(-3px, -6px) rotate(5deg);
}

.hints-after-notChoose {
    background-color: #eeeeee;
    color: black;
    opacity: 0.5;
    font-size: 12pt;
    transform: translate(-3px, -6px) rotate(5deg);
    font-family: monospace;
    line-height: 12pt;
    position: absolute;
    padding: 2px;
}

.hints-after-choose {
    transform: translate(-3px, -6px) rotate(5deg);
    background-color: black;
    font: bold;
    color: white;
    position: absolute;
    opacity: 0.8;
    font-size: 12pt;
    font-family: monospace;
    line-height: 12pt;
    padding: 2px;
}

#container {
    opacity: 0.8;
}

#modePop {
    font-size: 8pt;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px
}

#subModePop {
    font-weight: bold;
    font-size: 6pt;
    padding-left: 5px;
    padding-right: 5px
}

#mode {
    animation-name: 'CfadeInUp';
    text-align: center;
    opacity: 0.9;
    border-radius: 10px;
    background-color: #c0c0c0;
    position: fixed;
    bottom: 5px;
    right: 5px;
    box-shadow: 1px 1px 5px #333333;
}